page-walkthrough {
    .slide-img{
        max-width: 90%;
       
    }
    .slide{
        background-color: yellowgreen;
    }
    .skip-btn{
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 20px;
        color: ghostwhite;
}
}
