<!--
  Generated template for the WalkthroughPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-content>
  <ion-slides pager>

    <ion-slide class="slide">
      <button class="skip-btn" ion-button clear>Skip</button>

      <img class="slide-img" src="../assets/imgs/scooter_PNG11323.png" />
      <h2>Title Slide 1</h2>
      <p>Discription</p>
    </ion-slide>

    <ion-slide class="slide">
      <button class="skip-btn" ion-button clear>Skip</button>

      <img class="slide-img" src="../assets/imgs/broken-down-car-clipart-free-18.png" />
      <h2>Title Slide 2</h2>
      <p>Discription</p>
    </ion-slide>

    <ion-slide class="slide">
      <button class="skip-btn" ion-button clear>Skip</button>

      <img class="slide-img" src="../assets/imgs/rolls_royce_PNG32.png" />
      <h2>Title Slide 3</h2>
      <p>Discription</p>
    </ion-slide>

  </ion-slides>

</ion-content>